.tab-control-row {
    padding-bottom: 20px;
    border-bottom: 1.5px solid #efeff0
}

.category-button-container {
    display: flex;
    align-items: center
}

.category-button,
.category-button-active,
.sub-category-button,
.sub-category-button-active {
    background-color: #626367;
    color: #fff;
    font-family: foco-bold;
    font-size: 1.125rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 12.5rem;
    height: 8.125rem;
    cursor: pointer
}

.category-button-active {
    background-color: #64bf47;
    box-shadow: .4375rem .75rem 2.1875rem rgba(78, 218, 33, .45)
}

.sub-category-button,
.sub-category-button-active {
    background-color: #fff;
    width: 10.625rem;
    height: 6.25rem;
    border: .0625rem solid #dcf4d4
}

.sub-category-button-active {
    border: .0625rem solid #64bf47
}

.curve-top {
    border-radius: 0 2.5rem 0 0
}

.curve-bottom {
    border-radius: 0 0 0 2.5rem
}

.curve-all {
    border-radius: 0 2.5rem 0 2.5rem
}

.green-icon {
    color: #64bf47
}

.background-selected {
    background-color: #f3faf0
}

.mobile-accordion-button,
.mobile-accordion-button-active {
    display: flex;
    background-color: #626367;
    padding-left: 1.875rem;
    color: #fff;
    align-items: center;
    height: 3.125rem;
    font-size: 1.0625rem;
    cursor: pointer
}

.mobile-accordion-button-active i,
.mobile-accordion-button i {
    margin-right: .3125rem
}

.mobile-accordion-button-active {
    background-color: #60bb47;
    box-shadow: .3125rem .5625rem 1.125rem rgba(69, 213, 32, .45)
}

.mobile-subheading {
    color: #169849;
    font-family: foco-bold;
    border-bottom: 1px solid #dbf3d4
}

.mobile-accordion-content {
    background-color: #f2faf0;
    border: 1px solid #dbf3d4
}

.mobile-subcategory-image-selected {
    border: 1px solid #65e23d
}

a:hover {
    text-decoration: none
}

.page-header-area {
    color: #fff;
    width: 100%;
    height: 17.8125em;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat
}

.page-header-area span {
    font-size: 2.25rem;
    font-family: foco-bold;
    letter-spacing: -.1125rem;
    text-shadow: 0 0 2.6875rem rgba(0, 0, 0, .06)
}

#page-header {
    padding-top: 6.625rem;
    padding-left: 1.125rem
}

.page-header-breadcrumb {
    font-size: 1rem;
    letter-spacing: .025rem
}

.page-header-breadcrumb div {
    float: left
}

.page-header-breadcrumb i {
    float: left;
    padding: .25rem .9375rem
}

.page-header-breadcrumb-link {
    float: left;
    cursor: pointer;
    color: #51ac37;
    font-family: foco-bold
}

.page-header-breadcrumb-link:hover {
    color: #51ac37
}

.product-cart {
    display: grid;
    grid-template-columns: 75% 25%;
    letter-spacing: .01rem
}

@media screen and (max-width:768px) {
    .product-cart {
        grid-template-columns: 100%
    }
}

.product-cart-detail .detail-section .detail-row,
.product-cart-detail .header-section {
    display: grid;
    grid-template-columns: 30% 15% 15% 15% 15% 10%
}

.product-cart-detail {
    margin: .3125rem;
    max-height: 33.875rem
}

.product-cart-detail .header-section {
    height: 3.125rem;
    color: #fff;
    text-align: center
}

.product-cart-detail .header-section div {
    margin: 0 .125rem;
    padding-top: .9375rem;
    background: #169849
}

.product-cart-detail .header-section #product-name {
    border-radius: 0 0 0 1.5625rem
}

.product-cart-detail .header-section #product-action {
    border-radius: 0 1.5625rem 0 0
}

@media screen and (max-width:425px) {
    .product-cart-detail .header-section {
        grid-template-columns: 60% 25% 15%
    }
    .product-cart-detail .header-section #product-discount,
    .product-cart-detail .header-section #product-price,
    .product-cart-detail .header-section #product-total {
        display: none
    }
}

.product-cart-detail .detail-section {
    max-height: 30.75rem;
    overflow: auto;
    overflow-x: hidden
}

.product-cart-detail .detail-section::-webkit-scrollbar {
    width: .8333rem;
    margin-top: .4167rem
}

.product-cart-detail .detail-section::-webkit-scrollbar-thumb {
    background: rgba(81, 172, 55, .78);
    border-radius: .8333rem
}

.product-cart-detail .detail-section::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #51ac37
}

.product-cart-detail .detail-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .4167rem grey;
    border-radius: .8333rem
}

.product-cart-detail .detail-section h5 {
    margin-top: .625rem;
    text-align: center
}

.product-cart-detail .detail-section .detail-row {
    height: 6.25rem;
    color: #000
}

.product-cart-detail .detail-section .detail-row #product-column {
    display: grid;
    grid-template-columns: 35% 65%
}

@media screen and (max-width:768px) {
    .product-cart-detail .detail-section .detail-row #product-column {
        grid-template-columns: 40% 60%
    }
}

@media screen and (max-width:425px) {
    .product-cart-detail .detail-section .detail-row #product-column {
        grid-template-columns: 30% 70%
    }
}

@media screen and (max-width:375px) {
    .product-cart-detail .detail-section .detail-row #product-column {
        grid-template-columns: 40% 60%
    }
}

.product-cart-detail .detail-section .detail-row #product-column .out-of-stock {
    color: red;
    font-weight: 600
}

@media screen and (max-width:425px) {
    .product-cart-detail .detail-section .detail-row {
        grid-template-columns: 60% 25% 15%
    }
    .product-cart-detail .detail-section .detail-row #discount-column,
    .product-cart-detail .detail-section .detail-row #price-column,
    .product-cart-detail .detail-section .detail-row #total-column {
        display: none
    }
}

.product-cart-detail .detail-section .detail-row div {
    display: flex;
    align-items: center;
    justify-content: center
}

.product-cart-detail .detail-section .detail-row div img {
    width: 5.625rem;
    height: 5.625rem
}

.product-cart-detail .detail-section .detail-row div i {
    cursor: pointer
}

.product-cart-detail .detail-section .detail-row div .cart-qty-minus-btn {
    margin-right: .9375rem
}

.product-cart-detail .detail-section .detail-row div .cart-qty-plus-btn {
    margin-left: .9375rem
}

.product-cart-detail .detail-section .detail-row div .cart-item-remove-btn {
    font-size: 1.375rem;
    color: #169849;
    cursor: pointer
}

.product-cart-summary {
    margin: .3125rem;
    color: #000
}

.product-cart-summary .detail-section {
    padding: .75rem;
    background-color: #eff8ec;
    border-radius: 0 1.5625rem 0 0
}

.product-cart-summary .detail-section div {
    display: grid;
    padding: .625rem 0;
    grid-template-columns: 60% 40%;
    border-bottom: .0625rem solid hsla(0, 0%, 50.2%, .28)
}

.product-cart-summary .detail-section div #summary-column-name {
    text-align: left
}

.product-cart-summary .detail-section div #summary-column-value {
    text-align: right
}

.product-cart-summary .summary-est_total {
    height: 3.25rem;
    display: grid;
    margin-top: .625rem;
    font-size: 1rem;
    padding: .75rem;
    font-weight: 600;
    color: #fff;
    grid-template-columns: 60% 40%;
    background-color: #169849;
    border-radius: 0 0 0 1.5625rem
}

.product-cart-summary .summary-est_total #summary-column-name {
    text-align: left
}

.product-cart-summary .summary-est_total #summary-column-value {
    text-align: right
}

.product-cart-summary .summary-checkout-button {
    height: 3.125rem;
    color: #fff;
    margin-top: .625rem;
    text-align: center;
    font-size: 1rem;
    padding: .8rem .75rem;
    font-weight: 600;
    background-color: #f4901f;
    border-radius: 0 1.5625rem
}

.product-cart-summary .summary-checkout-button:hover {
    cursor: pointer;
    -webkit-filter: brightness(95%);
    filter: brightness(95%)
}

@font-face {
    font-family: foco;
    src: url(/static/media/Foco-Regular.4c219844.ttf)
}

@font-face {
    font-family: foco-bold;
    src: url(/static/media/Foco-Bold.f4349a07.ttf)
}

body {
    font-family: foco
}

.test {
    font-size: 25px
}

.form-control {
    border-top-right-radius: 1.375rem!important;
    border-bottom-left-radius: 1.375rem!important;
    height: 2.8125rem
}

.form-control:disabled {
    cursor: not-allowed
}

.text-box-height {
    height: calc(1.5em + .875rem)!important
}

.no-left-radius {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important
}

.no-right-radius {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important
}

.no-left-border {
    border-left: 0!important
}

.Toastify__toast {
    color: #fff;
    text-align: center;
    background: rgba(81, 172, 55, .95);
    border-radius: 0 1.875rem!important
}

.Toastify__toast i {
    margin: 0 5px;
    font-size: 16px
}

html {
    font-size: 16px
}

@media(max-width:320px) {
    html {
        font-size: 10px
    }
}

@media(min-width:321px) {
    html {
        font-size: 10px
    }
}

@media(min-width:375px) {
    html {
        font-size: 11px
    }
}

@media(min-width:768px) {
    html {
        font-size: 11px
    }
}

@media(min-width:1200px) {
    html {
        font-size: 12px
    }
}

@media(min-width:1400px) {
    html {
        font-size: 14px
    }
}

@media(min-width:2000px) {
    html {
        font-size: 20px
    }
}

.payment-card {
    align-items: center;
    border: .0625rem solid #e1e1e1;
    padding: .9375rem
}

.payment-image {
    width: 6.25rem
}

.account-number {
    color: #64bf47
}

.delete-payment-icon {
    cursor: pointer
}

.header {
    background: #169849;
    color: #fff;
    font-size: 1rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.container,
.header {
    border-radius: 0 1.5625rem 0 0
}

.container {
    padding: 0;
    box-shadow: 0 .125em .25em 0 rgba(0, 0, 0, .2), 0 .1875em .625em 0 rgba(0, 0, 0, .19)
}

.content-container {
    padding: 1rem
}

.payment-mode-container {
    margin-top: .625rem;
    border-radius: .3125rem;
    border: .0625rem solid #ccc;
    background-color: #fff
}

.payment-mode-header {
    font-size: .875rem;
    font-weight: 600;
    color: #717171;
    text-align: center;
    padding-bottom: .625rem
}

.payment-mode {
    margin: .9375rem
}

.payment-mode-selection {
    display: flex;
    justify-content: center
}

.paymentMethod {
    display: flex;
    min-height: 5rem;
    padding-left: 0;
    align-items: center
}

.paymentMethod li {
    float: left;
    padding: .625rem;
    margin-right: 1.25rem;
    border: .0625rem solid #b1b1b1;
    border-radius: .1875rem;
    text-align: center;
    display: block;
    overflow: hidden;
    font-size: .875rem;
    min-width: 8.875rem;
    border-radius: 1.25rem 0 1.25rem 0
}

.card-selected {
    border-color: #529f3c!important;
    border-width: .125rem!important
}

.card-tic {
    color: #529f3c;
    float: right
}

.payment-mode-radios {
    justify-content: center;
    margin: 1.25rem;
    font-size: 1.1rem
}

.cc-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: .5rem
}

.cc-box {
    padding: .625rem;
    border: .0625rem solid #b1b1b1;
    text-align: center;
    display: flex;
    overflow: hidden;
    font-size: .875rem;
    border-radius: 1.25rem 0 1.25rem 0
}

.summary-checkout-button {
    border-radius: 0 0 0 1.5625rem!important
}

.error-span {
    color: #bd2130
}

.template-selector {
    color: #169849;
    cursor: pointer
}

.error-text {
    color: red
}